/*site designed by Manishdas1975.github.io for personal work*/
/*only html and css used in making the site. 1st attempt at */
/*making a mobile first website.*/

/*layout*/

html{
    margin: 0;
    padding: 0;
}

header{
    background: #D9B3F4;
    display: flex;
    flex-direction: column;

}

.top-container-a{
    /*border:2px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 2px solid red;*/
    margin-bottom: :2em 0;
    background: #AD9BB5;
}

.bio{
    /*border: 2px solid red;*/
    padding: 2rem;
}

.project{
    /*border: 2px solid green;*/
    padding: 2rem;
}

.project-info-list{
    list-style: none;
    font: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    /*border: 2px solid black;*/
}

.contact{
    /*border: 2px solid red;*/
    padding: 2rem;
}

/*setting up image and font style*/

body{
    background: url(image.jpg);
    color:#2d3c2e;
    font-family: Constantia, Palatino, 'Palatino Linotype',  'Palatino LT STD', Georgia, serif;
    font-weight: 500;
    
}

.top-container-b{
    background: url(image.jpg);
    background-image: cover;
}

/*heading 1 representation*/

body h1{
    font-family: Cambria, Georgia, serif;
    display: inline-block;
}

body h1:hover,
body h1:focus
{
    border-bottom: 2px solid black;
    background: white;
}

/*creating link for page sections at top of the page*/

header a{
    text-decoration: none;
    color: black;
}
header a:hover{
    color: #0E4B0F;
    border: .125em solid black;
    border-radius: 10px;
}

/*creating media queries for the site in desktop mode*/

@media (min-width: 650px){


    .main-nav-list{
        flex-direction: row;
        justify-content: space-between;
        padding: 2em;
        border-spacing: unset;
    }

    .project-info-list{
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }
}
